@font-face {font-family: ptsans;src: url(PTC55F.ttf);}
html,body{padding:0;margin:0}
body{overflow:hidden;font-family: ptsans;}
.div1{background-size:cover;background-repeat:no-repeat;background-position:center;width:100vw;height:100vh}
.img1{background-image:url("1.jpg")}
.img1:before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 99, 154, .5);
}
.main{display:none;position: relative;}
body{background: #000;color:#fff}
.load{width:100%;height:100%;position:fixed;top:0;left:0}
.b15l50{position:absolute;bottom:15%;left:50%;transform:translate(-50%,15%);-webkit-transform:translate(-50%,15%)}

.b25l50{position:absolute;bottom:25%;left:50%;transform:translate(-50%,25%);-webkit-transform:translate(-50%,25%)}
.t50l0{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);left:0}

.t50l50{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);z-index: 100;}

html{-webkit-text-size-adjust: 100%;}
.load_bar
{
position:absolute;
bottom: 0;
left: 0;
width: 0px;
height: 10px;
background:#fff;
}

.menu{
    content: " ";
    width:1.255em;height:1.255em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("menu.svg");
    vertical-align: middle;
    
    }

.header{position: fixed;}


.header{
/*height: 3em;*/
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.header
{

top: 0;
left:0;
z-index: 101;
width:100%;
-webkit-backdrop-filter: blur(10px);


}
a {
    color:#fff;text-decoration:none
    }
    a:href{text-decoration:none}


.menu_on .ccc{color:purple!important}
.ccc{display:inline-block;color:#22639a }
.menu_on .nav{display: none!important}


.menu_on .menu{display:block;/*overflow-y:scroll;-webkit-overflow-scrolling:touch*/}
.menu{display:none;z-index:9999;background-color:#000;position:fixed;top:0;left:0;width:100vw;height:100vh}
.menu{background:rgba(0,0,0,1)}
*{user-select: none;-webkit-font-smoothing: subpixel-antialiased
}


input {
    border-radius: 0;
    -webkit-appearance: none;
    }
    textarea {
    border-radius: 0;
    -webkit-appearance: none;
    }
    button, input, select, textarea {
    font: inherit;
    margin: 0;
    }
    
    input::-webkit-input-placeholder {
    transition:color 0.2s ease-in-out;
    -webkit-transition:color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 1);
    }
    textarea:focus::-webkit-input-placeholder{
    color: rgba(255, 255, 255, .25);
    }
    textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    transition:color 0.2s ease-in-out;
    -webkit-transition:color 0.2s ease-in-out;
    }
    input:focus::-webkit-input-placeholder{
    color: rgba(255, 255, 255, .25);
    }
    .form-control{ 
    padding:10px;
    width: 100%; 
    border:0;background-color:rgba(255,255,255,0);box-shadow:rgba(1, 255, 137, 0) 0 0 2.5rem 0.5rem;
    transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    -webkit-transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    color: #fff;
    outline:0
    }
    /*
    .form-control:focus,.form-control:active {
     outline: none;border-color:rgba(1, 255, 137, 1);
    }
    */
    
    .form-control:focus,.form-control:active{transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    -webkit-transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    background-color:rgba(1, 255, 137, 0.7);
    box-shadow:rgba(1, 255, 137,0.7) 0px 0px 2.5rem 0.5rem;}
    
    .button{border:none;width:100%}

    .list-unstyled, .error{
        position: absolute;
        top: 3.5px;
        right: 0px;
        max-width: 100%;
        pointer-events: none;
        z-index: 1;
        color: rgba(255, 255, 255, 0);
        /*
        text-shadow:none;*/
        padding: 0.7rem 3rem 0.7rem 2.5rem;
        transition: color 300ms cubic-bezier(0.72, 0, 0.28, 1);
        cursor:pointer;
        }
        
        .list-unstyled:after, .error:after {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 3rem;
        height: 35px;
        line-height: 2.25rem;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        pointer-events: auto;
        content:'!';
        }
        .list-unstyled:hover,.error:hover{
        color: rgba(255, 255, 255, 1);
        pointer-events: auto;
        }
        .form-control{position:relative}
        .form-group{position:relative;padding-top:5px;padding-bottom:5px}

        
.button{
    cursor:pointer;
    display:block;
    margin:2em auto 2em auto;
    padding:10px;
    font-size:0.888em;
    letter-spacing:0.2em;
    background-color:rgba(1, 255, 137, 1);
    box-shadow:rgba(1, 255, 137, 0) 0 0 2.5rem 0.5rem;
    border-radius:0;
    transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    -webkit-transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    outline:none;
    color:#fff;
    text-shadow: 0 0 .1px black;
    } 
    .night .button{color:#000;text-shadow: 0 0 .1px white;
    }
    .button:hover{
    transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    -webkit-transition:background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    background-color:rgba(1, 255, 137, 0.7);
    box-shadow:rgba(1, 255, 137,0.7) 0px 0px 2.5rem 0.5rem;
    
    }


    .baron__bar {
        position: absolute;
        top: 0;
        right:0;
        width: 8px;
        height: 20%;
        background: #fff;
        z-index:9999999999;
    }



    .tabs-wrapper {
        text-align: center;
    }


    .calc-sections .items .item {

        color: #2ebef0;
        cursor: pointer;
        text-align: center;

        border: 1px solid #2ebef0;
    }

   
  
    .calc-sections .total-wrapper .caption {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1.5em;
    }
    
    .calc-sections .items .item.check-param {
        background: #2ebef0;
        color: #fff;
        
    }


    .col-sm-2{display: inline-block;}