
body {
background-color: #000000;
margin: 0px;
overflow: hidden;

}


.main{display:none}
.load{width:100vw;height:100vh}

.load_bar
{
position:absolute;
bottom: 0;
left: 0;
width: 0px;
height: 10px;
background:#fff;
}

#scene{z-index:99;position:fixed;cursor:pointer}