@import '~@angular/material/theming';



@include mat-core();

$nglp-primary: mat-palette($mat-grey, 700, 700, 100);

$nglp-accent:  mat-palette($mat-blue, A700);

$nglp-warn:    mat-palette($mat-green, 500);


$nglp-theme: mat-dark-theme($nglp-primary, $nglp-accent, $nglp-warn);

@include angular-material-theme($nglp-theme);

//dark theme
.dark {
  $dark-primary: mat-palette($mat-grey, 100, 700, 100);
  $dark-accent:  mat-palette($mat-blue, A700);
  $dark-warn:    mat-palette($mat-green, 500);

  $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}


